#include    <os2.h>
#include    "PC2.h"

BITMAP      ID_BITMAP0CLOSEWINDOW       PRELOAD Source\Resource\CloseWindow.Up.vga
BITMAP      ID_BITMAP0ROLLWINDOW        PRELOAD Source\Resource\RollUp.Up.vga
BITMAP      ID_BITMAP0HELP              PRELOAD Source\Resource\ContextHelp.Up.vga
BITMAP      ID_BITMAP0MOVEVD            PRELOAD Source\Resource\MoveVirtualDesktop.Up.vga
BITMAP      ID_BITMAP0MOVEEDGE          PRELOAD Source\Resource\MoveEdge.Up.vga

BITMAP      ID_BITMAP1ROLLWINDOW        PRELOAD Source\Resource\RollDown.Up.vga

BITMAP      ID_BITMAP2CLOSEWINDOW       PRELOAD Source\Resource\CloseWindow.Down.vga
BITMAP      ID_BITMAP2ROLLWINDOW        PRELOAD Source\Resource\RollUp.Down.vga
BITMAP      ID_BITMAP2HELP              PRELOAD Source\Resource\ContextHelp.Down.vga
BITMAP      ID_BITMAP2MOVEVD            PRELOAD Source\Resource\MoveVirtualDesktop.Down.vga
BITMAP      ID_BITMAP2MOVEEDGE          PRELOAD Source\Resource\MoveEdge.Down.vga

BITMAP      ID_BITMAP3ROLLWINDOW        PRELOAD Source\Resource\RollDown.Down.vga

BITMAP      ID_BITMAPLAUNCHBUTTON       PRELOAD Source\Resource\PC2Warp.vga

POINTER     ID_MOVEPOINTER              PRELOAD Source\Resource\Move.ptr
POINTER     ID_ACTIONPOINTER            PRELOAD Source\Resource\Action.ptr

ICON        ID_CONFIGDIALOG             PRELOAD Source\Resource\MenuMenu.vga
ICON        ID_DESKTOPDIALOG            PRELOAD Source\Resource\MenuDesktop.vga
ICON        ID_ABOUTDIALOG              PRELOAD Source\Resource\MenuAbout.vga
ICON        ID_SHUTDOWN                 PRELOAD Source\Resource\MenuShutDown.vga
ICON        ID_POWERDOWN                PRELOAD Source\Resource\MenuPowerDown.vga
ICON        ID_HELP                     PRELOAD Source\Resource\MenuHelp.vga
ICON        ID_EXIT                     PRELOAD Source\Resource\MenuExit.vga
ICON        ID_SPOOLER                  PRELOAD Source\Resource\MenuSpooler.vga
ICON        ID_LOCKUP                   PRELOAD Source\Resource\MenuLockup.vga

BITMAP      ID_BITMAPEXIT               PRELOAD Source\Resource\Exit.vga
BITMAP      ID_BITMAPMOVE               PRELOAD Source\Resource\Move.vga
BITMAP      ID_BITMAPHIDE               PRELOAD Source\Resource\Hide.vga
BITMAP      ID_BITMAPZORDERTOP          PRELOAD Source\Resource\Top.vga
BITMAP      ID_BITMAPZORDERBOTTOM       PRELOAD Source\Resource\Bottom.vga
BITMAP      ID_BITMAPCLOSE              PRELOAD Source\Resource\Close.vga
BITMAP      ID_BITMAPMAXIMIZE           PRELOAD Source\Resource\Maximize.vga
BITMAP      ID_BITMAPMINIMIZE           PRELOAD Source\Resource\Minimize.vga
BITMAP      ID_BITMAPRESTORE            PRELOAD Source\Resource\Restore.vga
BITMAP      ID_BITMAPSHUTDOWN           PRELOAD Source\Resource\ShutDown.vga
BITMAP      ID_BITMAPPOWERDOWN          PRELOAD Source\Resource\PowerDown.vga
BITMAP      ID_BITMAPLOCKUP             PRELOAD Source\Resource\Lockup.vga
BITMAP      ID_BITMAPHELP               PRELOAD Source\Resource\Help.vga

BITMAP      ID_BITMAPSCROLLLEFT         PRELOAD Source\Resource\ScrollLeft.vga
BITMAP      ID_BITMAPSCROLLRIGHT        PRELOAD Source\Resource\ScrollRight.vga

ICON        ID_ICONUNKNOWN              PRELOAD Source\Resource\Unknown.vga
ICON        ID_ICONWPSOBJECT            PRELOAD Source\Resource\WpsObj.vga
ICON        ID_ICONSESSIONUNKNOWN       PRELOAD Source\Resource\SessionUnknown.vga

MENU        ID_PC2POPUPMENU             PRELOAD
BEGIN
END

HELPTABLE       MAIN_HELP_TABLE
BEGIN
    HELPITEM    ID_PC2MAINWINDOW,       MAIN_HELP_SUBTABLE,           ID_HELP
    HELPITEM    HELP_CREATEWINDOW,      HELP_CREATEWINDOW_SUBTABLE,   ID_ERRORHELP
    HELPITEM    HELP_PC2LOADED,         HELP_PC2LOADED_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_DLLLOADED,         HELP_DLLLOADED_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_PC2INI,            HELP_PC2INI_SUBTABLE,         ID_ERRORHELP
    HELPITEM    HELP_PC2ENV,            HELP_PC2ENV_SUBTABLE,         ID_ERRORHELP
    HELPITEM    HELP_PC2SPOOLDLL,       HELP_PC2SPOOLDLL_SUBTABLE,    ID_ERRORHELP
    HELPITEM    HELP_PC2THREAD,         HELP_PC2THREAD_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_PC2CFG,            HELP_PC2CFG_SUBTABLE,         ID_ERRORHELP
    HELPITEM    HELP_PC2HOOK,           HELP_PC2HOOK_SUBTABLE,        ID_ERRORHELP
    HELPITEM    HELP_CREATEDIALOG,      HELP_CREATEDIALOG_SUBTABLE,   ID_ERRORHELP
    HELPITEM    HELP_SETPATH,           HELP_SETPATH_SUBTABLE,        ID_ERRORHELP
    HELPITEM    HELP_PRIORITY,          HELP_PRIORITY_SUBTABLE,       ID_ERRORHELP
    HELPITEM    HELP_LAUNCH,            HELP_LAUNCH_SUBTABLE,         ID_ERRORHELP
    HELPITEM    HELP_MEDIA,             HELP_MEDIA_SUBTABLE,          ID_ERRORHELP
    HELPITEM    HELP_PC2RUNNINGASWPS,   HELP_PC2RUNNINGASWPS_SUBTABLE,ID_ERRORHELP
    HELPITEM    HELP_PC2RUNNINGASPROTSHELL,
                                        HELP_PC2RUNNINGASPROTSHELL_SUBTABLE,
                                                                      ID_ERRORHELP
    HELPITEM    HELP_PC2BADPASSWORD,    HELP_PC2BADPASSWORD_SUBTABLE, ID_ERRORHELP
    HELPITEM    HELP_PC2REBOOT,         HELP_PC2REBOOT_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_PC2TIMER,          HELP_PC2TIMER_SUBTABLE,       ID_ERRORHELP
    HELPITEM    HELP_ICONCACHE,         HELP_ICONCACHE_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_POPUPMENU,         HELP_POPUPMENU_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_SESSIONBAR,        HELP_SESSIONBAR_SUBTABLE,     ID_ERRORHELP
    HELPITEM    HELP_QUICKSWITCH,       HELP_QUICKSWITCH_SUBTABLE,    ID_ERRORHELP
    HELPITEM    HELP_POWERDOWN,         HELP_POWERDOWN_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_PC2CLEANUP,        HELP_PC2CLEANUP_SUBTABLE,     ID_ERRORHELP
    HELPITEM    HELP_PC2BACKUP,         HELP_PC2BACKUP_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_PC2ALIVE,          HELP_PC2ALIVE_SUBTABLE,       ID_ERRORHELP
    HELPITEM    HELP_PC2STATUS,         HELP_PC2STATUS_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_PC2NEWS,           HELP_PC2NEWS_SUBTABLE,        ID_ERRORHELP
    HELPITEM    HELP_PC2UPDATE,         HELP_PC2UPDATE_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_PC2REGISTRATION,   HELP_PC2REGISTRATION_SUBTABLE,ID_ERRORHELP
    HELPITEM    HELP_PC2NETDLL,         HELP_PC2NETDLL_SUBTABLE,      ID_ERRORHELP
    HELPITEM    HELP_BUBBLEHELP,        HELP_BUBBLEHELP_SUBTABLE,     ID_ERRORHELP
    HELPITEM    HELP_PC2TRAP,           HELP_PC2TRAP_SUBTABLE,        ID_ERRORHELP
END

HELPSUBTABLE    HELP_CREATEWINDOW_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_CREATEWINDOW
    HELPSUBITEM MBID_OK,                HELP_CREATEWINDOW
END

HELPSUBTABLE    HELP_PC2LOADED_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2LOADED
    HELPSUBITEM MBID_OK,                HELP_PC2LOADED
END

HELPSUBTABLE    HELP_DLLLOADED_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_DLLLOADED
    HELPSUBITEM MBID_OK,                HELP_DLLLOADED
END

HELPSUBTABLE    HELP_PC2INI_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2INI
    HELPSUBITEM MBID_OK,                HELP_PC2INI
END

HELPSUBTABLE    HELP_PC2ENV_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2ENV
    HELPSUBITEM MBID_OK,                HELP_PC2ENV
END

HELPSUBTABLE    HELP_PC2SPOOLDLL_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2SPOOLDLL
    HELPSUBITEM MBID_OK,                HELP_PC2SPOOLDLL
END

HELPSUBTABLE    HELP_PC2THREAD_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2THREAD
    HELPSUBITEM MBID_OK,                HELP_PC2THREAD
END

HELPSUBTABLE    HELP_PC2CFG_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2CFG
    HELPSUBITEM MBID_OK,                HELP_PC2CFG
END

HELPSUBTABLE    HELP_PC2HOOK_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2HOOK
    HELPSUBITEM MBID_OK,                HELP_PC2HOOK
END

HELPSUBTABLE    HELP_CREATEDIALOG_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_CREATEDIALOG
    HELPSUBITEM MBID_OK,                HELP_CREATEDIALOG
END

HELPSUBTABLE    HELP_SETPATH_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_SETPATH
    HELPSUBITEM MBID_OK,                HELP_SETPATH
END

HELPSUBTABLE    HELP_PRIORITY_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PRIORITY
    HELPSUBITEM MBID_OK,                HELP_PRIORITY
END

HELPSUBTABLE    HELP_LAUNCH_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_LAUNCH
    HELPSUBITEM MBID_OK,                HELP_LAUNCH
END

HELPSUBTABLE    HELP_MEDIA_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_MEDIA
    HELPSUBITEM MBID_OK,                HELP_MEDIA
END

HELPSUBTABLE    HELP_PC2RUNNINGASWPS_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2RUNNINGASWPS
    HELPSUBITEM MBID_OK,                HELP_PC2RUNNINGASWPS
END

HELPSUBTABLE    HELP_PC2RUNNINGASPROTSHELL_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2RUNNINGASPROTSHELL
    HELPSUBITEM MBID_OK,                HELP_PC2RUNNINGASPROTSHELL
END

HELPSUBTABLE    HELP_PC2BADPASSWORD_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2BADPASSWORD
    HELPSUBITEM MBID_OK,                HELP_PC2BADPASSWORD
END

HELPSUBTABLE    HELP_PC2REBOOT_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2REBOOT
    HELPSUBITEM MBID_OK,                HELP_PC2REBOOT
END

HELPSUBTABLE    HELP_PC2TIMER_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2TIMER
    HELPSUBITEM MBID_OK,                HELP_PC2TIMER
END

HELPSUBTABLE    HELP_ICONCACHE_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_ICONCACHE
    HELPSUBITEM MBID_OK,                HELP_ICONCACHE
END

HELPSUBTABLE    HELP_POPUPMENU_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_POPUPMENU
    HELPSUBITEM MBID_OK,                HELP_POPUPMENU
END

HELPSUBTABLE    HELP_SESSIONBAR_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_SESSIONBAR
    HELPSUBITEM MBID_OK,                HELP_SESSIONBAR
END

HELPSUBTABLE    HELP_QUICKSWITCH_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_QUICKSWITCH
    HELPSUBITEM MBID_OK,                HELP_QUICKSWITCH
END

HELPSUBTABLE    HELP_POWERDOWN_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_POWERDOWN
    HELPSUBITEM MBID_OK,                HELP_POWERDOWN
END

HELPSUBTABLE    HELP_PC2CLEANUP_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2CLEANUP
    HELPSUBITEM MBID_OK,                HELP_PC2CLEANUP
END

HELPSUBTABLE    HELP_PC2BACKUP_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2BACKUP
    HELPSUBITEM MBID_OK,                HELP_PC2BACKUP
    HELPSUBITEM MBID_CANCEL,            HELP_PC2BACKUP
END

HELPSUBTABLE    HELP_PC2ALIVE_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2ALIVE
    HELPSUBITEM MBID_OK,                HELP_PC2ALIVE
END

HELPSUBTABLE    HELP_PC2STATUS_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2STATUS
    HELPSUBITEM MBID_OK,                HELP_PC2STATUS
END

HELPSUBTABLE    HELP_PC2NEWS_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2NEWS
    HELPSUBITEM MBID_OK,                HELP_PC2NEWS
END

HELPSUBTABLE    HELP_PC2UPDATE_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2UPDATE
    HELPSUBITEM MBID_OK,                HELP_PC2UPDATE
END

HELPSUBTABLE    HELP_PC2REGISTRATION_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              DDID_PAGE9
    HELPSUBITEM MBID_OK,                DDID_PAGE9
END

HELPSUBTABLE    HELP_PC2NETDLL_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2NETDLL
    HELPSUBITEM MBID_OK,                HELP_PC2NETDLL
END

HELPSUBTABLE    MAIN_HELP_SUBTABLE
BEGIN
    HELPSUBITEM ID_HELP,                ID_HELP
END

HELPSUBTABLE    HELP_BUBBLEHELP_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_BUBBLEHELP
    HELPSUBITEM MBID_OK,                HELP_BUBBLEHELP
END

HELPSUBTABLE    HELP_PC2TRAP_SUBTABLE
BEGIN
    HELPSUBITEM MBID_HELP,              HELP_PC2TRAP
    HELPSUBITEM MBID_OK,                HELP_PC2TRAP
END

rcinclude PC2dlg.dlg
